{{style}}
<div class="ome-body">
<div class="ome-bg-yellow" style="width: 670px;">
<p>{{summary}}</p>
<p></p>
</div>
<div style="width: 670px; text-align: center; font-weight: bold; margin-bottom: 15px;">Daily Average OME (mg/day)</div>
<img src="{{opioidImage}}" style="position: float; width: 670px;" class="ome-img" />
<p class="ome-cdc">{{CDC}}</p>
<div>
<table border="0" style="padding: 2px;" class="ome-table">
<tr>
  <th style="padding: 2px; text-align: center">{{mainColumnName}}</th>
  <th style="padding: 2px; text-align: right;">{{maxAvg}}<br>{{shortLabel}}/day*</th>
</tr>
{{tableRows}}
<tr>
  <td class="ome-td" style="padding: 2px;" align="left"><b>Total Maximum OME/Day</b></td>
  <td class="ome-td-qty" style="padding: 2px;" align="right" nowrap><span class="ome-total">{{total}} mg</span></td>
</tr>
</table>
</div>
<div style="margin-top: 5px; margin-left: 10px; font-size: x-small; width: 670px;">*Avg OME = (qty dispensed)/(days supply). 30d supply assumed unless otherwised noted in Sig or note to pharmacy.<br>*Max OME (see details) = max amount patient may take on a given day according to Sig, even if patient runs out of med early.</div>
</div>
