#ome-expand{{id}} { overflow: hidden; height: 0px; }
#ome-toggle{{id}}:checked ~ #ome-expand{{id}} { height: auto; }
#ome-toggle{{id}}:checked ~ label[for=ome-toggle{{id}}] img { transform: rotate(180deg); }