<tr>
 <td class="ome-td" style="padding: 2px;" align="left" class="ome-table ome-medname">{{newContent}} <b>{{medName}}</b><input id="ome-toggle{{id}}" class="ome-input" type="checkbox" /><label class="ome-label" for="ome-toggle{{id}}"><img id="toggler{{id}}" class="ome-img" src="{{expandImage}}" style="height: 15px; width: auto;" /></label>
  {{warnings}}
 <div class="ome-expand-text" id="ome-expand{{id}}">{{expand}}</div></td>
 <td class="ome-td-qty" style="padding: 2px; white-space: nowrap;" align="right"><b>{{medQuantity}}</b></td>
</tr>